<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SampleTest">

	<test name="sidAssignments">
		<classes>
			<class name="sid.selenium.assignment.First_BrowserCommands"></class>
			<class name="sid.selenium.assignment.Second_FacebookSignup"></class>
			<class name="sid.selenium.assignment.Third_LinksCheck"></class>
			<class name="sid.selenium.assignment.Fourth_eBayProductSearch"></class>
			<class name="sid.selenium.assignment.Fifth_SnapdealLogin"></class>
			<class name="sid.selenium.assignment.Sixth_DragDrop"></class>
			<class name="sid.selenium.assignment.Seventh_GmailCompose"></class>
			

		</classes>
	</test>
</suite>